* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 5px 20px;
  /* position: fixed;
  top: 0; */
}
.logo {
  cursor: pointer;
  width: 100px;
  height: 80px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

li {
  margin: 10px 30px;
  cursor: pointer;
}

li a {
  text-decoration: none;
  color: #704264;
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}

li a:hover {
  transition:0.5s ;
  -webkit-transition:0.5s ;
  -moz-transition:0.5s ;
  -ms-transition:0.5s ;
  -o-transition:0.5s ;
  box-shadow: #bb8493 0px 0px 15px 4px;
  background-color: #bb8493;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  color: #fff;
  padding: 5px;
}
