



.container_UserComplete {
  width: 100%;
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 8%;
}

.container_UserComplete .col_right {
  padding: 20px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.container_UserComplete .col_right .messageForm h2,h3 {
    font-family: "Dancing Script", cursive;
    padding-bottom: 10px;
    color: #bb8493;
    
}

.container_UserComplete .col_right .messageForm h2{
    padding-top: 20px;
    font-size: 20px;
    color: #704264;
}


.container_UserComplete .col_right .messageForm div{
    background-color: rgba(255, 51, 153, 0.05);
    font-size: 15px;
}